keycloak_domain         = "id.example.com"
tailscale_domain        = "adjective-animal.ts.net"
tailscale_tailnet       = "example.com"
tailscale_client_id     = "123"
tailscale_client_secret = "ts..."
tailscale_tags_keycloak = ["tag:foobar"]
keycloak_admin_subdomain = "foobar"
